.info {
    width: 800px;
    height: 80px;

    padding: 16px 32px;
}

.info table {
    width: 100%;
}

.info table td {
    padding: 6px 0;

    font-size: 18px;
    font-weight: 400;
}

.info table td:nth-child(1), .info table td:nth-child(3) {
    width: 83px;

    font-weight: 600;
}

.info table td:nth-child(2), .info table td:nth-child(4) {
    width: 280px;
}

.cancelRow {
    width: 800px;
    height: 50px;

    background-color: white;
    text-align: right;
}

.cancelRow > button {
    margin: 10px;
}

.buttons {
    display: flex;

    flex-direction: row;

    width: 800px;
    height: 320px;

    padding: 16px;
}

.buttons > button, .buttons > .customCapacity {
    flex-grow: 1;

    margin: 16px;

    background-color: white;
    border: 0;
}

.buttons > button:hover, .buttons > .customCapacity:hover {
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, .2);
}