* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    position: relative;
    height: 100%;
    width: 100%;

    font-family: 'Segoe UI', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #004466;
    background-color: transparent;

    -webkit-user-select: none;
}

body.border {
    border: 1px solid #004466;
}

#TitleBar {
    display: flex;

    justify-content: space-between;
    align-items: center;

    height: 32px;

    background-color: #004466;
    color: white;

    -webkit-app-region: drag;
}

#TitleBar > div {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 33%;
}

#TitleBar #Icon + #AppName {
    text-align: center;
}

#TitleBar #AppName {
    padding: 0 16px;

    font-size: 12px;
    font-weight: 400;
}

#TitleBar #Buttons {
    text-align: right;
}

#TitleBar #Buttons button {
    height: 32px;
    width: 46px;

    border: 0;
    background: transparent;
    color: white;

    transition: all .2s ease-out;

    -webkit-app-region: none;
}

#TitleBar #Buttons button:hover {
    background-color: rgba(0, 0, 0, .2);
    outline: none;
}

#TitleBar #Buttons button:active, #TitleBar #Buttons button:focus {
    outline: none;
}

#TitleBar #Buttons #Close:hover {
    background-color: #ff2020;
}

/* NAV */

nav {
    height: 120px;

    background-color: #f3f3f3;
    border-bottom: 1px solid #b1b1b1;
}

nav #Tabs {
    display: flex;

    justify-content: flex-start;

    height: 30px;

    background-color: #004466;
}

nav #Tabs button {
    height: 30px;

    margin-left: 2px;
    padding: 0 13px;

    background: transparent;
    border: 0;
    color: #f3f3f3;
    font-size: 12px;
    font-weight: 400;
}

nav #Tabs button.active, nav #Tabs button.special.active {
    background: #f3f3f3;
    color: #004466;
}

nav #Tabs button:not(.active):hover {
    background-color: rgba(0, 0, 0, .15);
}

nav #Tabs button:active, nav #Tabs button:focus {
    outline: none;
}

nav #Tabs button.special {
    background: rgba(0, 0, 0, .2);
}

nav #Tabs button.special:not(.active):hover {
    background: rgba(255, 255, 255, .1);
}

@keyframes nav-content-loaded {
    from { opacity: 0; left: 10px; }

    to { opacity: 1; left: 0; }
}

nav #Content {
    position: relative;

    height: 90px;

    opacity: 0;
    animation: nav-content-loaded .5s ease-in-out .5s;
    animation-fill-mode: forwards;
}

@keyframes nav-content-show {
    from {
        left: 10px;
        opacity: 0;
    }

    to {
        left: 0;
        opacity: 1;
        visibility: visible;
    }
}

@keyframes nav-content-hide {
    from {
        left: 0;
        opacity: 1;
    }

    to {
        left: -10px;
        opacity: 0;
        visibility: hidden;
    }
}

nav #Content > div {
    position: absolute;
    display: flex;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    visibility: visible;
    animation: nav-content-hide .5s ease-in-out;
    animation-fill-mode: forwards;
}

nav #Content > div.active {
    visibility: hidden;
    animation: nav-content-show .5s ease-in-out;
    animation-fill-mode: forwards;
}

nav #Content > div .section {
    position: relative;
    display: flex;

    flex-direction: row;

    height: 100%;
    min-width: 80px;

    padding: 0 8px;
}

nav #Content > div .section:after {
    content: '';

    position: absolute;

    top: 4px;
    right: 0;
    bottom: 6px;

    width: 1px;

    background-color: #b1b1b1;
}

nav #Content > div .section .section-header {
    position: absolute;

    width: 100%;

    right: 0;
    bottom: 0;
    left: 0;

    padding: 4px 0;

    color: black;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

nav #Content > div .section .large-icon {
    display: flex;

    flex-direction: column;
    align-items: center;

    height: 66px;

    margin: 4px 0 0;
    padding: 0 6px;

    background: transparent;
    border: 1px solid transparent;
}

nav #Content > div .section .large-icon:focus {
    outline: 0;
}

nav #Content > div .section .large-icon:hover {
    background: rgba(0, 0, 0, .15);
}

nav #Content > div .section .large-icon.active {
    background: rgba(0, 0, 0, .15);
}

nav #Content > div .section .large-icon.active:hover {
    border: 1px solid rgba(0, 0, 0, .25);
}

nav #Content > div .section .large-icon img {
    width: 32px;
    height: 32px;

    opacity: .7;
}

nav #Content > div .section .large-icon:hover img, nav #Content > div .section .large-icon.active img {
    opacity: .8;
}

nav #Content > div .section .large-icon span {
    display: block;

    color: black;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

#Views{
    position: absolute;

    top: 152px;
    right: 0;
    bottom: 0;
    left: 0;
}


/* CALENDAR */

#Calendar {
    display: flex;
    position: absolute;

    overflow: hidden;

    flex-direction: column;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: #eeeeee;
}

.Row {
    display: flex;
    position: relative;
}

.RowHeader {
    position: relative;

    width: 200px;

    padding: 8px 16px;
}

.RowHeader:after {
    content: '';

    position: absolute;

    right: 0;
    bottom: 0;
    left: 0;

    height: 1px;

    background: rgba(0,0,0,0);
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.1)));
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%);
    background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}

.btn {
    height: 32px;

    background: transparent;
    color: #004466;

    border: 2px solid #004466;
    border-radius: 16px;

    transition: all .2s ease-out;
}

.btn:hover {
    background: #004466;
    color: #00bbff;

    cursor: pointer;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,68,102,.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,68,102,.5);
    box-shadow: 0px 0px 10px 0px rgba(0,68,102,.5);
}

.btn:active {
    background: #006699;
    border-color: #006699;
    color: #00bbff;

    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,68,102,.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,68,102,.75);
    box-shadow: 0px 0px 15px 0px rgba(0,68,102,.75);
}

.btn:focus {
    outline: 0;
}

.btn-text {
    padding: 0 16px;
}

.btn-char {
    width: 32px;
}

#RowDays, #RowEvents, #RowCapacities {
    margin-right: 17px; /* scroll bar for jobs */
}

/* CALENDAR > WEEK SELECTOR */


#WeekSelector {
    height: 60px;
    min-height: 60px;

    background-color: #00bbff;
}

#CurrentWeek {
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    padding: 0 32px;
}

#WeekSelector > * {
    flex-grow: 1;
    flex-basis: 0;
}

#Selector {
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#Selector span {
    display: inline-block;

    font-size: 18px;

    margin: 0 32px;
}

#Legend {
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    padding: 0 32px;
}

/* CALENDAR > DAY */

.Day {
    display: flex;

    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;

    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.Day.weekStart {
    border-left: 1px solid #004466;
}

.Day.nonWorkDay {
    color: #ff4040;
    background-color: rgba(0, 68, 102, .05);
}

/* CALENDAR > DAYS */

#RowDays {
    background-color: white;
}

#HeaderDays.RowHeader:after {
    content: '';

    position: absolute;

    right: 0;
    bottom: 0;
    left: 0;

    height: 1px;

    background: rgba(0,187,255,0);
    background: -moz-linear-gradient(left, rgba(0,187,255,0) 0%, rgba(0,187,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,187,255,0)), color-stop(100%, rgba(0,187,255,1)));
    background: -webkit-linear-gradient(left, rgba(0,187,255,0) 0%, rgba(0,187,255,1) 100%);
    background: -o-linear-gradient(left, rgba(0,187,255,0) 0%, rgba(0,187,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,187,255,0) 0%, rgba(0,187,255,1) 100%);
    background: linear-gradient(to right, rgba(0,187,255,0) 0%, rgba(0,187,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bbff', endColorstr='#00bbff', GradientType=1 );
}

#RowDaysColumns {
    display: flex;

    flex-grow: 1;
}

.WeekNumber {
    position: absolute;

    top: 0;
    left: -100%;
    right: -100%;

    padding: 6px 0;

    text-align: center;
}

.Days {
    display: flex;

    flex-grow: 1;
}

#RowDays .Day {
    position: relative;

    border-bottom: 1px solid #00bbff;

    padding-top: 24px;
}

#RowDays .Days > .Day > * {
    text-align: center;
    padding: 6px 0;
}

#RowDays .WeekNumber {
    color: #004466;
}

#RowDays .DayInWeek {
    font-size: 11px;
    padding-bottom: 0 !important;
}

/* CALENDAR > EVENTS */

#RowEvents {
    background-color: white;
}

#RowEvents .Day {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    align-items: center;
    padding: 4px 0;
}

/* CALENDAR > CAPACITIES */

#RowCapacities {
    background-color: white;
}

.capacity-section {
    position: relative;

    height: 32px;

    margin: 4px 0;

    font-weight: 400;
}

.capacity-section .capacity-circle, .capacity-section .capacity-value {
    position: absolute;

    left: 50%;

    transform: translateX(-50%);
}

.capacity-section .capacity-circle {
    top: 2px;

    width: 28px;
}

.capacity-section .capacity-value {

    width: 32px;
}

.capacity-section .capacity-absolute, .capacity-section .capacity-percentage {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translateX(-50%);
}

.capacity-section .capacity-absolute > span:first-child, .capacity-section .capacity-percentage > span:first-child {
    position: absolute;

    top: -13px;
    left: 50%;

    transform: translateX(-50%);
    font-size: 12px;
}

.capacity-section .capacity-absolute > span:last-child, .capacity-section .capacity-percentage > span:last-child {
    position: absolute;

    top: -1px;
    left: 50%;

    transform: translateX(-50%);
    font-size: 10px;
}

.capacity-section .capacity-absolute:after {
    content: '';

    position: absolute;

    top: 1px;
    left: -12px;

    height: 1px;
    width: 24px;
}

.capacity-section.capacity-saw {
    color: #ff4040;
}

.capacity-section.capacity-saw .capacity-absolute:after {
    background-color: #ff4040;
}

.capacity-section.capacity-press {
    color: #00bbff;
}

.capacity-section.capacity-press .capacity-absolute:after {
    background-color: #00bbff;
}

#RowCapacities.view-absolute .capacity-percentage {
    display: none;
}

#RowCapacities.view-percentage .capacity-absolute {
    display: none;
}

/* CALENDAR > JOBS */

#Jobs {
    display: block;
    position: relative;

    overflow-y: scroll;
}

.RowJob {
    background-color: white;

    transition: all .2s ease-out;
}

.RowJob:hover {
    z-index: 1;

    box-shadow: 0 0 16px 0 rgba(0, 0, 0, .2);
    /*background-color: rgba(0, 187, 255, .1);*/
}

.HeaderJob {

}

.HeaderJob .JobName {
    font-weight: 500;
    font-size: 16px;
}

.HeaderJob .JobID, .HeaderJob .JobDeadline {
    margin-top: 6px;

    font-weight: 400;
}

.HeaderJob .JobID small, .HeaderJob .JobDeadline small {
    margin-right: 6px;

    font-weight: 300;
}

#Jobs .Day {
    align-items: center;

    color: white;
}

#Jobs .Day.nonWorkDay {
    color: white;
}

#Jobs .Day > * {
    position: relative;

    width: 100%;

    margin: 2px 0;
}

#Jobs .Day .Saw > div:not(.empty), #Jobs .Day .Saw > div:not(.empty):after {
    background-color: #ff4040;
}

#Jobs .Day .Press > div:not(.empty), #Jobs .Day .Press > div:not(.empty):after {
    background-color: #00bbff;
}

#Jobs .Day .Transport > div:not(.empty), #Jobs .Day .Transport > div:not(.empty):after {
    background-color: #66dd00;
}

#Jobs .Day .Assembly > div:not(.empty), #Jobs .Day .Assembly > div:not(.empty):after {
    background-color: #ffbc45;
}

/* CALENDAR VIEWS */

#Jobs .Day .classic {
    width: 28px;
    height: 28px;

    margin: auto;

    border-radius: 14px;

    text-align: center;
}

#Jobs .Day .classic > span {
    position: relative;
    z-index: 1;

    top: 2px;
    left: 2px;

    display: block;

    height: 24px;
    width: 24px;
    line-height: 24px;

    border-radius: 14px;

    transition: all .1s ease-out;
}

#Jobs .Day .classic:hover > span {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .5);
    background-color: rgba(255, 255, 255, .1);

    cursor: default;
}

#Jobs .Day .classic .classicDay {
    font-size: 14px;
}

#Jobs .Day .classic .classicCapacity {
    font-size: 12px;
}

#Jobs .Day .compact {
    width: 28px;
    height: 6px;

    margin: auto;

    border-radius: 3px;
}

/*
    PHASE PART BORDERS
*/

/* CONTINUOUS */
#Jobs .Day .continuous .classic:after {
    content: '';

    position: absolute;

    top: 0;
    left: 0;
    right: 0;

    height: 28px;
}

#Jobs .Day .continuous .compact:after {
    content: '';

    position: absolute;

    top: 0;
    left: 0;
    right: 0;

    height: 6px;
}

/* START */
#Jobs .Day .start .classic:after {
    content: '';

    position: absolute;

    top: 0;
    left: 50%;
    right: 0;

    height: 28px;
}

#Jobs .Day .start .compact:after {
    content: '';

    position: absolute;

    top: 0;
    left: 50%;
    right: 0;

    height: 6px;
}

/* END */
#Jobs .Day .end .classic:after {
    content: '';

    position: absolute;

    top: 0;
    left: 0;
    right: 50%;

    height: 28px;
}

#Jobs .Day .end .compact:after {
    content: '';

    position: absolute;

    top: 0;
    left: 0;
    right: 50%;

    height: 6px;
}

#HeaderAddJob:after {
    content: none;
}


/*
    VIEWS SWITCHING
*/

/* VIEW > CLASSIC DAYS */

.viewClassicDays .classic {
    display: block !important;
}

.viewClassicDays .classic .classicDay {
    display: block !important;
}

.viewClassicDays .classic .classicCapacity {
    display: none !important;
}

.viewClassicDays .compact {
    display: none !important;
}

.viewClassicDays .empty {
    height: 32px;
}

/* VIEW > CLASSIC CAPACITIES */

.viewClassicCapacities .classic {
    display: block !important;
}

.viewClassicCapacities .classic .classicDay {
    display: none !important;
}

.viewClassicCapacities .classic .classicCapacity {
    display: block !important;
}

.viewClassicCapacities .compact {
    display: none;
}

.viewClassicCapacities .empty {
    height: 32px;
}

/* VIEW > COMPACT */

.viewCompact .JobName, .viewCompact .JobID {
    display: inline;

    font-size: 14px;
}

.viewCompact .JobID {
    font-weight: 300;
    font-size: 12px;
}

.viewCompact .JobID:before {
    content: '; ';
}

.viewCompact .JobID small {
    display: none;
}

.viewCompact .JobDeadline {
    display: none;
}

.viewCompact .classic {
    display: none;
}

.viewCompact .classic .classicDay {
    display: none;
}

.viewCompact .classic .classicCapacity {
    display: none;
}

.viewCompact .compact {
    display: block;
}

.viewCompact .empty {
    height: 6px;
}
